<html xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://www.evolus.vn/Namespace/Pencil" xmlns:html="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Best Buy!</title>
</head>
<body>
	<div class="Page" id="untitled_page_page">
		<div class="ImageContainer" style="text-decoration:none">
			<img src="/media/mockimages/topBanner.png" />
			<img src="/media/mockimages/breadCrumbsBanner.png" />
			<img src="/media/mockimages/sideBanner.png" style="float:left"/>
			{% block fridgeInfo %}
			{% endblock %}
		</div>
	</div>
</body>
</html>