<html>
<head>
</head>
<body>
	<p>Results: <br>
    <div id="infoContainer">
      <p>Door Height is {{ height }} cm and width is {{ width }} cm</p>
      <p>Fridge Height is 169.2 cm and width is 75 cm</p>
      <p>
        Based on the calculations, the fridge
        {% if height < 169.2 and width < 75 %}
          <strong>will fit</strong>
        {% else %}
             <strong>will not fit</strong>
        {% endif %}
      </p>
    </div>
    <div id="imageContainer">
      <img src="{{ imageUrl }}" width="25%"/>	
   	  <img src="/media/images/step4.png" width="25%" />
      <img src="/media/mockimages/InsigniaCloseUp.png" width="25%%" />
   </div>
</body>
</html>
