{% load static %}

<html>
<body>
	<img src="/media/mockimages/topBanner.png"/>
	<img src="/media/mockimages/willItFit.png"/>
	<div style="font-family:sans-serif; font-size:27px;margin-left:80px; margin-right:300px" >
	<form enctype="multipart/form-data" method="post">
		{% csrf_token %}
		<h3>
			Please upload an image of the refrigerator's delivery path (e.g. front door) to estimate its dimensions
		</h3>
		{{ form.as_p }}
		<input type="submit" value="submit" />
		</div>
	
	</form>

</body>
</html>